{% extends 'flatpages/default.html' %}
{% load custom_filters %}

{% block header %}
<!-- Page Header-->
<header class="masthead" style="background-image: url('/static/assets/img/rogozin_veselinki.jpg')">
    <div class="container position-relative px-4 px-lg-5">
        <div class="row gx-4 gx-lg-5 justify-content-center">
            <div class="col-md-10 col-lg-8 col-xl-7">
                <div class="post-heading">
                    {% block prose_name %}
                    <h1>Стихи для детей
                    </h1>
                    {% endblock prose_name %}
                    <hr>
                    <h2 class="subheading">Сборники стихов Веселинки, </h2>
                    {% block page_number %}
                    {% endblock page_number %}
                </div>
            </div>
        </div>
    </div>
</header>
{% endblock header %}

{% block main_content %}
<!-- Post Content-->
<article class="mb-4">
    <div class="container px-4 px-lg-5">
        <div class="row gx-4 gx-lg-5 justify-content-center">
            <div class="col-md-10 col-lg-8 col-xl-7">

                {% if poetry %}
                    <table>
                        {% for stih in poetry %}
                        <a class='poetry_title' href="{% url 'stih_detail' stih.id %}"><b>{{ stih.title }}</b></a>
                            <br>
                        {% endfor %}
                    </table>
                {% endif %}

            </div>
        </div>
    </div>
</article>
{% endblock main_content %}