{% extends 'flatpages/default.html' %}

{% block header %}
<header class="masthead" style="background-image: url('/static/assets/img/utichye.png')">
    <div class="container position-relative px-4 px-lg-5">
        <div class="row gx-4 gx-lg-5 justify-content-center">
            <div class="col-md-10 col-lg-8 col-xl-7">
                <div class="site-heading">
                    <h1><a href="/prose/{{ model_name }}/1">{{ full_name }}</a></h1>
                </div>
            </div>
        </div>
    </div>
</header>
{% endblock header %}


{% block main_content %}
<!-- Post Content-->
<article class="mb-4">
    <div class="container px-4 px-lg-5">
        <div class="row gx-4 gx-lg-5 justify-content-center">
            <div class="col-md-10 col-lg-8 col-xl-7">
                <h1>Глава {{ pk }}</h1>
                {% for line in page %}
                <p>{{ line }}</p>
                {% endfor %}

                <hr>

                <form action="jump_to_page/" method="post">
                    {% csrf_token %}
                    {{ form }}
                    <input type="submit" value="Перейти" />
                </form>

                <hr>

                <!-- Table -->
                <table>
                <tr>
                    <td>
                        {% if pk_next %}
                        <a class="page_next" href="/prose/{{ model_name }}/{{ pk_next }}">
                            <h2 class="post-title">Вперед</h2>
                        </a>
                        {% endif %}
                    </td>
                </tr>
                <tr>
                    <td>
                        {% if pk_previous %}
                        <a class="page_previous" href="/prose/{{ model_name }}/{{ pk_previous }}">
                            <h2 class="post-title">Назад</h2>
                        </a>
                        {% endif %}
                    </td>
                </tr>
                </table>
            </div>
        </div>
    </div>
</article>
{% endblock main_content %}
