{% extends 'flatpages/default.html' %}

{% block header %}
<header class="masthead" style="background-image: url('/static/assets/img/utichye.png')">
    <div class="container position-relative px-4 px-lg-5">
        <div class="row gx-4 gx-lg-5 justify-content-center">
            <div class="col-md-10 col-lg-8 col-xl-7">
                <div class="post-heading">
                    <h1><a href="/prose/lived/1">Прожитое не угасает
                        </a>
                    </h1>
                    <hr>
                    <h1><a href="/prose/thoughts/1">Думы о прожитом
                        </a>
                    </h1>
                    <hr>
                    <h1><a href="/prose/pages/1">Странички истории
                        </a>
                    </h1>
                    <hr>
                    <h2 class="subheading">Воспоминания о жизни из дневников-мемуаров автора</h2>
                </div>
            </div>
        </div>
    </div>
</header>
{% endblock header %}



{% block main_content %}
<!-- Post Content-->
<article class="mb-4">
    <div class="container px-4 px-lg-5">
        <div class="row gx-4 gx-lg-5 justify-content-center">
            <div class="col-md-10 col-lg-8 col-xl-7">
                {% block content %}
                <h2 class="post-title">О чем эти мемуары.</h2>
                <p>Григорий Тимофеевич Рогозин большую часть своей жизни прожил в деревне, в самой глубинке
                    Курганской области, далеко от больших городов. Он писал свои мемуары в течение многих лет.
                    В основном его воспоминания затрагивают года периода середины XX века.
                    В них содержатся воспоминания о детстве, семье, друзьях, любви, работе, о жизни в деревне
                    и многом другом.</p>
                <p>Григорий Тимофеевич уделяет достаточно много внимания описанию деревенской жизни
                    в период военного времени ВОВ.</p>
                <p>Очень необычно читать данные строки именно сейчас, когда мы уже давно живем
                    в совершенно другой стране, с другими ценностями. Именно поэтому очень интересно
                    узнать, как жили некоторые люди в то время, какие интересы их занимали, какие проблемы
                    беспокоили.</p>
                <p>Эти воспоминания позволяют ненадолго окунуться в то, казалось бы, совсем недалекое
                    время и почувствовать, каким был мир вокруг.</p>
                <p></p>
                {% endblock content %}
            </div>
        </div>
    </div>
</article>
{% endblock main_content %}
